<h1><%= @category.name %></h1>

<%= for project <- @projects do %>
  <a class='project' href="<%= Router.project_path(:show, project.key) %>">
    <span class='key'>
      <%= project.key %>
    </span>
    <aside>
      <%= Project.description(project) %>
    </aside>
  </a>
<% end %>
