<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>

    <title>BEAM Toolbox</title>
    <link rel="stylesheet" href="/css/application.css">
  </head>

  <body>
    <div class="container type-system-geometric">
      <%= render "header.html" %>

      <%= @inner %>

    </div> <!-- /container -->

    <footer>
      <p><a href="http://beam-toolbox.com">BEAM Toolbox</a></p>
      <p>Built using the <a href="http://github.com/phoenixframework/phoenix">Phoenix Web Framework</a></p>
      <p>Something miscategorized?  Suggestions?  <a href="https://github.com/knewter/beam_toolbox_web/issues">Open an issue!</a></p>
    </footer>
  </body>
</html>
