<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44717355-2', 'auto');
      ga('send', 'pageview');
    </script>

    <title>BEAM Toolbox</title>
    <link rel="stylesheet" href="/css/application.css">
  </head>

  <body>
    <div class="container type-system-geometric">
      <%= render "header.html" %>

      <%= @inner %>
    </div>
    <footer>
      <p>Built by <a href="http://elixirsips.com">Josh Adams of ElixirSips</a> using the <a href="http://github.com/phoenixframework/phoenix">Phoenix Web Framework</a>.</p>
      <p>Something miscategorized?  Suggestions?  <a href="https://github.com/knewter/beam_toolbox_web/issues">Open an issue!</a></p>
    </footer>
  </body>
</html>
