<h2><%= @project.key %></h2>
<p class='description'><%= Project.description(@project) %></p>

<ul class='links'>
  <li><%= safe hex_package_link(@project) %></li>
  <li><%= safe source_link(@project) %></li>
</ul>

<%= render "disqus.html" %>
