<h2>
  <%= @project.key %>
  <a href='#comments' class='comments_link'>(Comments)</a>
</h2>
<p class='description'><%= Project.description(@project) %></p>

<ul class='links'>
  <li><%= safe hex_package_link(@project) %></li>
  <li><%= safe source_link(@project) %></li>
</ul>

<%= if Project.has_github_link?(@project) do %>
  <%= safe github_readme(@project) %>
<% end %>

<div id='comments'>
  <%= render "disqus.html" %>
</div>
