@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'lib/base/base';

@import 'type_system_geometric';
@import 'header';

$light-gray: #f5f5f5;
$gray: darken($light-gray, 5%);
$accented-gray: darken($light-gray, 10%);
$lighter-gray: lighten($light-gray, 1%);
$gray-text: #999;

.container {
  @include outer-container;
  .primary {
    @include span-columns(9);
  }
  .sidebar {
    @include span-columns(3);
    @include omega();
  }
}

.footer {
  @include outer-container;
}

h1 .comments_link {
  font-weight: normal;
  font-size: 0.7em;
}

pre {
  code {
    font-size: 150%;
    display: block;
    padding: 1em;
    background: $light-gray;
  }
}

.hoverable_link {
  background: $gray;
  display: block;
  padding: .5em;
  &:hover {
    background: $accented-gray;
  }
}

.project-details {
  @include outer-container;
  background: $light-gray;
  padding: 1em;
}

.project-primary-info {
  @include span-columns(9);
}

.project-links {
  @include span-columns(3);
  @include omega();
  li {
    a {
      @extend .hoverable_link;
    }
  }
}

article {
  padding: 1em;
}

a.category, a.project{
  @extend .hoverable_link;
  margin-bottom: .5em;
}

a.category {
  aside {
    padding: .5em;
    margin: -.5em .5em -.5em -.5em;
    width: 3em;
    text-align: center;
    display: inline-block;
    background: $accented-gray;
  }
}

a.project {
  .key {
    padding: .5em;
    margin: -.5em .5em -.5em -.5em;
    background: $accented-gray;
  }
  aside {
    display: inline;
    color: black;
  }
}

footer {
  @include outer-container;
  background: $lighter-gray;
  padding: 1em;
}

.module {
  h3 {
    font-size: 100%;
    background-color: $accented-gray;
    padding: .5em;
  }
}

.heading-item {
  color: $gray-text;
  display: inline-block;
  margin-right: 1em;
  padding: .5em;
  strong {
    display: block;
    font-weight: bold;
    margin: -.5em -.5em .5em -.5em;
    padding: .5em;
  }
}

.project-details {
  .heading-item {
    font-size: 75%;
  }
}
