<header>
  <h1>All categories by name</h1>
</header>

<section class='primary'>
  <%= for category <- @categories do %>
    <%= category_link(category) %>
  <% end %>
  <%= category_link(:uncategorized) %>
</section>

<section class='sidebar'>
</section>
