<div class="latest-projects">
  <h2>Latest Projects</h2>
  <ul>
    <%= for project <- @projects do %>
      <li>
        <a href="<%= Router.project_path(id: project.key) %>"><%= project.key %></a>
      </li>
    <%= end %>
  </ul>
</div>

<div class="categories">
  <h2>Categories</h2>
  <ul>
    <%= for category <- @categories do %>
      <li>
        <%= category.name %>
      </li>
    <%= end %>
  </ul>
</div>
